
<form class="form-inline"> 
    <div lass="form-group mb-2">
        <input type="text" class="form-control mb-2" placeholder="Buscar evento">
        <button class="btn btn-outline-success">Buscar</button>
    </div>
</form>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">
          <button class="btn btn-outline-primary" (click)="alternarImagem()"> 
            Mostrar imagens
          </button>
        </th>
        <th scope="col">Tema</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
        <th scope="col">Qtd Pessoas</th>
        <th scope="col">Lote</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos">
        <td></td>
        <td *ngIf="!isMostrarImagem">#</td>
        <td *ngIf="isMostrarImagem">
          <img src="http://localhost:5000/img/{{evento.imageURL}}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">
        </td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lote}}</td>
        <td>
          <button class="btn btn-success"></button>
          <button class="btn btn-danger"></button>
        </td>
      </tr>
    </tbody> 
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="7" class="text-center">
          <h3>Nenhum Evento encontrado!</h3>
        </td>
      </tr>
    </tfoot>
  </table>
  